@charset "utf-8";

/* CSS Document */
body {
  background: #fff;
}

html {
  font-size: 20px;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd {
  margin: 0;
  font: 12px "黑体";
}

ul,
ol {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: 0;
}

em,
i {
  font-style: normal;
}

img {
  border: none;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

input,
textarea,
select,
option,
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  outline: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.wid {
  width: 1180px;
  margin: 0 auto;
}

#big_box .margin_0 {
  margin: 0;
}

#big_box .bor_none {
  border: none;
}

.height-ten {
  height: 10px;
}

input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
  -webkit-appearance: none;
}